.card {
    background-color:#748CAB;
    width: 400px;
    height: auto; 
    border-radius: 25px;
    padding: 10px;
    border-color: #0D1321; 
    border-style: solid;
    font-weight: 6px;
  }
.info {
    background-color: #748CAB;
    color: black;
  }
.title {
  background-color: #748CAB;
  color: black;
}

.button {
  margin: 10px;
}
  