@import "../../global.scss";


.home-wrapper{
    position: fixed;
    top: 40%;
    left: 50%;
    // -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;


    .home-title{
        font-size: 40px;
        font-family: $mainfont;
        font-weight: 900;
    }

    .home-body{
        font-size: 20px;
        font-family: $mainfont;
        font-weight: 500;
    }

    
}