

#vacation-card {
  background-color:#748CAB;
  width: 400px;
  height: auto; 
  display: block;
  margin: 20px;
  border-radius: 25px;
  border-color: #0D1321; 
  border-style: solid;
}
.info {
  background-color: #748CAB;
  color: black;
}

#titleheader {
background-color: #748CAB;
color: black;
}
.title {
background-color: #748CAB;
color: black;
}

.col {
background-color: #748CAB;
color: black;
padding: 1rem;
}

.button {
margin: 5px;
align-content: center;
}

#clickers {
background-color: #748CAB;
color: black;
text-align: -webkit-center;
}