@import "../../global.scss";

.landing{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: white;
    display: flex;
    margin-top: 5%;

    .left{
        flex:05;

        .wrapper{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: right;
            padding-right: 50px;
            padding-bottom: 250px;


            h1{
                font-size: 100px;
                font-family: $mainfont;
                font-weight: 900;
            }
                
            h2{
                color: grey;
                font-size: 40px;
                font-family: $mainfont;
                font-style: italic;
            }

            .intro__text__container{
                display:block;
                overflow:hidden;
              }

            .intro__text{
                display: block;
                line-height: 100px;
                text-align: right;
                animation: slideDown 3s ;
                overflow: hidden;
                animation-delay: 0.2s;
                animation-timing-function: ease-in-out;
            }

            @keyframes slideDown{

                0%{
                  transform: translate3d(0, -100%, 0);
                }
                25%{
                  transform: translate3d(0, -50, 0);
                }
                50%{
                    transform: translate3d(0, 0, 0);
                }
              }
              
        }
    }

    .right{
        flex:05;
        margin-right: 5%;


        .imgContainer{
            width: 800px;
            height: 800px;
            background: rgb(13,19,33);
            background: linear-gradient(0deg, rgba(29,45,68,1) 0%, rgba(116,145,214,1) 14%, rgba(255,255,253,1) 50%);
            clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
            display: flex;
            align-items: center;
            justify-content: center;

            img{
                height: 110%;
                margin-bottom: 90px;
                margin-right: 160px;
            }
        }
    }
}

// .landing-container{
//     position: fixed;
//     top: 50%;
//     left: 50%;
//     // -webkit-transform: translate(-50%, -50%);
//     transform: translate(-50%, -50%);
//     text-align: center;


//     h1{
//         font-size: 60px;
//         font-family: $mainfont;
//         font-weight: 900;
//     }

//     h2{
//         font-size: 30px;
//         font-family: $mainfont;
//         font-style: italic;
//     }

//     .landing-button{
//         display: flex;
//         justify-content: right;
//         align-items: center;
//     }
// }